{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
(function($) {
    $(document).ready(function() {
        var $objektSelect = $('<select id="objekt_filter" style="width: 100%; padding: 5px;"><option value="">Выберите объект</option></select>');
        var $resursSelect = $('#id_resurs_po_objektu');
        var originalOptions = $resursSelect.html();
        
        // Получаем все объекты из опций ресурсов
        var objekts = {};
        $resursSelect.find('option').each(function() {
            var text = $(this).text();
            if (text && text !== '---------') {
                var objektName = text.split(' - ')[0];
                if (objektName && !objekts[objektName]) {
                    objekts[objektName] = objektName;
                }
            }
        });
        
        // Заполняем селект объектов
        for (var obj in objekts) {
            $objektSelect.append('<option value="' + obj + '">' + obj + '</option>');
        }
        
        // Добавляем селект объектов перед селектом ресурсов
        var $resursRow = $resursSelect.closest('.form-row');
        $resursRow.before(
            '<div class="form-row field-objekt_filter">' +
            '<div><label for="objekt_filter" style="font-weight: bold;">Объект:</label></div>' +
            '<div></div>' +
            '</div>'
        );
        $resursRow.prev().find('div:last').append($objektSelect);
        
        // Обработчик изменения объекта
        $objektSelect.change(function() {
            var selectedObjekt = $(this).val();
            $resursSelect.html('<option value="">---------</option>');
            
            if (selectedObjekt) {
                // Фильтруем ресурсы по выбранному объекту
                $(originalOptions).filter('option').each(function() {
                    var text = $(this).text();
                    if (text && text.startsWith(selectedObjekt + ' - ')) {
                        $resursSelect.append($(this).clone());
                    }
                });
            } else {
                $resursSelect.html(originalOptions);
            }
        });
        
        // Определяем текущий выбранный объект при загрузке
        var currentValue = $resursSelect.val();
        if (currentValue) {
            var currentText = $resursSelect.find('option:selected').text();
            if (currentText) {
                var currentObjekt = currentText.split(' - ')[0];
                $objektSelect.val(currentObjekt).trigger('change');
            }
        }
    });
})(django.jQuery);
</script>
{% endblock %}